body {
  padding: 5px;
  background-image: url(../images/doodles.png);
  /* background-size: contain; */
}

h1{
  font-family: 'Alfa Slab One', cursive;
  color: #FFF;
}

h2{
  font-family: 'Gentium Book Basic', serif;
  color: #FFF;
}
p{
  font-family: 'Gentium Book Basic', serif;
}
a{
  font-family: 'Gentium Book Basic', serif;
}

footer {
	position: absolute;
	bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
}


img{
  max-width: 250px;
  height: auto;
}
