body {
  padding: 5px;
  background-image: url(../images/doodles.png);
  /* background-size: contain; */
}

h1{
  font-family: 'Alfa Slab One', cursive;
  color: #FFF;
  font-size: 3vw;
}

.container{
  width: 100%;
}

.blackh1{
  color: #000;
}

h2{
  font-family: 'Gentium Book Basic', serif;
  color: #FFF;
  font-size: 2vw;
}
p{
  font-family: 'Gentium Book Basic', serif;
}
a{
  font-family: 'Gentium Book Basic', serif;
}

form{
  background-color: #FFF;
}

footer {
	position: absolute;
	bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
}


img{
  max-width: 100%;
  height: auto;
}
